[Desktop Entry]
Name=Hello World
Exec=hello-world-gtk
Terminal=false
Type=Application
Icon=hello-world-gtk
StartupWMClass=helloworldgtk
X-AppImage-Version=VERSION
Comment=Hello World GTK.
MimeType=x-scheme-handler/helloworldgtk;
Categories=GNOME;GTK;Utility;
